$baseWidth: 66rem;

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  min-height: 30rem;
  min-width: 30rem;
  padding: 2rem;
  width: 100vw;
}

.h1 {
  float: left;
  margin-bottom: 1rem;
}

.sceneContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.button:not(:last-child) {
  margin-right: 0.5rem;
}

.checkboxes {
  display: block;
  margin: 0.5rem 0;

  & input {
    margin-top: 0.375rem;
    margin-left: -1.125rem;
  }

  & > :not(:last-child) {
    margin-right: 0.5rem;
  }
}

.footer {
  justify-content: space-between;
}

.changesViewer {
  color: white;
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 0.75rem;
}
