.viewContent {
  width: 100%;
  margin: 0 auto;
}

.page {
  margin: 2rem;
}

.button:not(:last-child) {
  margin-right: 0.5rem;
}

.modalSize {
  max-width: 2240px;
  width: 1100px;
}

.checkboxes {
  & input {
    margin-top: 0.375rem;
    margin-left: -1.125rem;
  }

  & > :not(:last-child) {
    margin-right: 0.5rem;
  }
}