.viewContent {
  width: 100%;
  margin: 0 auto;
}

.page {
  margin: 2rem;
}

.buttonGroup {
  // margin-top: 1rem;
  // margin-bottom: 0.75rem;
  // text-align: left;
}

.button:not(:last-child) {
  margin-right: 0.5rem;
}

.modalSize {
  max-width: 2240px;
  width: 1100px;
}